nav {
    display: flex;
    justify-content: space-between;
    background-color: #aab5ff;
    align-items: ;: center;
    align-content: center;
    height: 80px;
}


.nav-links li {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: wheat;
    margin-top: 4px;
    
}


.nav-links ul{
    margin-right: 10px;
}

* {
    margin: 0;
    padding: 0;
}



.heading {
    font-size: 28px;
    color: whitesmoke;
    margin-left: 10px;
}