.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: aliceblue;
    margin: auto;

    padding: 20px;
}

.list-items {
    background-color: rgb(196, 162, 231);
    padding: 20px;
    text-align: center;
}

