.container {
    display: flex;
    height: 600px;
    width: 600px;
    background-color: rgb(3, 15, 15);
    justify-content: center;
    align-items: center;
    margin: auto;
}

.red {
    height: 300px;
    width: 300px;
    border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: rotateX 2s ease-in-out  infinite alternate-reverse;
}

.orange {
    height: 270px;
    width: 270px;
    border: 3px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: animateOrange 0.5s ease-in-out  infinite alternate-reverse;
}

.yellow {
    height: 240px;
    width: 240px;
    border: 3px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: animateYellow 0.5s ease-in-out  infinite alternate-reverse;

}

.green {
    height: 210px;
    width: 210px;
    border: 3px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: animateGreen 0.5s ease-in-out  infinite alternate-reverse;
}

.blue {
    height: 180px;
    width: 180px;
    border: 3px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: animateBlue 0.5s ease-in-out  infinite alternate-reverse;
}

.indigo {
    height: 150px;
    width: 150px;
    border: 3px solid indigo;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: animateIndigo 0.5s ease-in-out  infinite alternate-reverse;
}


.violet {
    height: 120px;
    width: 120px;
    border: 3px solid violet;
    border-radius: 50%;
    animation: animateViolet 0.5s ease-in-out  infinite alternate-reverse;
}


@keyframes animateRed {
    0% {
        border: 3px solid red;
    }

    100% {
        border: 3px solid violet;
        opacity: 0.2;
    }
}

@keyframes animateOrange {
    0% {
        border: 3px solid orange;
    }

    100% {
        border: 3px solid indigo;
    }
}

@keyframes animateOrange {
    0% {
        border: 3px solid orange;
    }

    100% {
        border: 3px solid indigo;
    }
}


@keyframes animateYellow {
    0% {
        border: 3px solid yellow;
    }

    100% {
        border: 3px solid blue;
    }
}

@keyframes animateGreen {
    0% {
        border: 3px solid green;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animateBlue {
    0% {
        border: 3px solid blue;
    }

    100% {
        border: 3px solid yellow;
    }
}

@keyframes animateIndigo {
    0% {
        border: 3px solid indigo;
    }

    100% {
        border: 3px solid orange;
    }
}

@keyframes animateViolet {
    0% {
        border: 3px solid violet;
    }

    100% {
        border: 3px solid red;
    }
}


.box {
    height: 200px;
    width: 200px;
    border: 3px solid yellowgreen ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateY 1s ease-in-out  infinite ;
}


.inner-box {
    height: 100px;
    width: 200px;
    border: 3px solid rebeccapurple;
    border-radius: 50%;
    animation: rotateX 0s ease-in-out  infinite alternate-reverse;

}


@keyframes rotateX {

    0% {
        transform: rotateX(0);
    }
    10%{
        border: 3px solid rebeccapurple;
    }


    100% {
        transform: rotateX(360deg);
    }
    
}

@keyframes rotateY {
    0% {
        transform: rotateY(0);
    }

    10%{
        border: 3px solid rebeccapurple;
    }



    100% {
        transform: rotateY(180deg);
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
    
}

